* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
h1 {
    color: #351868;
    font-size: 5vw;
    text-align: center;

}

#image {
    margin-top: -50px;
    margin-left: 50px;
}
.thumbnail {
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
}

.thumbnail:hover {
    transform: scale(1.3);
}
.row {
    display: flex;
    padding: 20px 20px;
}

.column {
    flex: 33.33%;
    padding: 5px;
}
