* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.navbar {
    background: #351868;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #967bb6 0%, orange 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-family: serif;
	margin-right:20px;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #7b68ee;
    color: #fff;
    font-family: serif;
}

.button:hover {
    background: orange;
    transition: all 0.3s ease;
}

.navbar__links:hover,
.navbar__links:focus {
    color: orange;
	font-weight:bold;
	background: #7b68ee;
    transition: all 0.3s ease;
}
.top-nav {
    height: 60px;
	background-color: white;
}
.top-nav .menu{
	diplay:inline-block;
    list-style:right;
	float:right;
	padding:10px 100px;
	margin-right:100px;
}
.top-nav .menu li {
    display: inline;
	padding:20px 10px;
    float:right;
}
.dropdown {
  float: left;
  overflow: hidden;
  padding-left:20px;
  padding-right:20px;
}

.dropdown .dropbtn {
  font-size: 20px;
  font-weight:bold;
  border: none;
  outline: none;
  color: #351868;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: orange;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color:#7b68ee;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h1 {
    text-align: center;
    color: #351868;
    font-size: 5vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 60px;
    margin-left: 80px;
}

body {
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
	padding-right:20px;
	
}
.upper-row {
    display: flex;
	margin:50px;
    padding: 20px;
}

.upper-column {
	align-items:center;
    flex: 33.33%;
}
.upper-row2 {
    display: flex;
	margin:50px;
    padding: 20px;
}

.upper-column2 {
	align-items:center;
    flex: 33.33%;
}
.middle-row {
    display: flex;
	margin:50px;
    padding: 20px;
}

.middle-column {
	align-items:center;
    flex: 33.33%;
}
.lower-row {
    display: flex;
	margin:10px;
    padding: 20px;
}

.lower-column {
	align-items:center;
    flex: 33.33%;
	padding: 50px;
}
.img-sec{
	margin-top:20px;
	height:400px;
	width:500px;
	border:none;
	outline:none;
}
#topStm3{
	color:red;
}
.text-sec{
	background:#341868;
	color:white;
	font-size:1.2rem;
	font-family:'Times New Roman', Times, serif;
	padding:20px;
	height:250px;
	width:400px;
	margin-left:200px;
	margin-top:50px;
	border:none;
	outline:none;	
}

.txt-btn{
	margin-top:30px;
	width:100px;
}
.txt-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: orange;
    color: #fff;
    font-family: serif;
	padding:5px;
}
.txt-button:hover {
    background: white;
	color:black;
    transition: all 0.1s ease;
}
#sideA{
	color:orange;
	margin-top:100px;
	font-weight:bold;
	font-size:2.0rem;
	font-family:'Times New Roman', Times, serif;
}
#sideB{
	color:orange;
	font-style:italic;
	margin-top:100px;
	margin-left:20px;
	font-size:1.5rem;
	font-family:'Times New Roman', Times, serif;
}
.footer {
    height: 500px;
    background-color: #351868;
    margin-bottom: 0;
    padding: 20px;
    color: white;
    max-width: 100%;
    height: auto;
}

#footerList {
    margin-left: 10px;
    list-style: none;
    padding: 20px 10px;
    max-width: 100%;
    height: auto;
}

#footerText {
    text-align: left;
    margin-left: 100px;
    margin-top: -100px;
    color: white;
    font-size: 1.0rem;
	font-family:'Times New Roman', Times, serif;
    max-width: 100%;
    height: auto;
}

#hr {
    border: 1px solid black;
    color: white;
    margin: 100px;
    max-width: 100%;
    height: auto;
}

#flist {
    color: white;
    font-family:'Times New Roman', Times, serif;
    margin: 10px;
    max-width: 100%;
    height: auto;
}
#mid-footer {
    max-width: 100%;
    height: auto;
    margin-right: 150px;
    font-family:'Times New Roman', Times, serif;
}

#left-footer {
    max-width: 100%;
    height: auto;
    font-family:'Times New Roman', Times, serif;
}

#right-footer {
    max-width: 100%;
    height: auto;
    font-family:'Times New Roman', Times, serif;
}

.footer-row {
    max-width: 100%;
    height: auto;
    display: flex;
    padding: 20px;
}

.footer-column {
    max-width: 100%;
    height: auto;
    flex: 33.33%;
}
.link-row {
    max-width: 100%;
    height: auto;
    display: flex;
    padding: 20px;
}

.link-column {
    flex: 33.33%;
    max-width: 100%;
    height: auto;
}
.thumbnail-footer {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
}

.thumbnail-footer:hover {
    transform: scale(1.1);
}
.mySlides {
    display: none;
}

#slide-img {
    vertical-align: middle;
	height:200px;
	margin-top:40px;
}
.slideshow{
	background:#351868;
	margin:100px;
	height:400px;
}
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin-top: 50px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade 
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}
