* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    text-align: center;
    margin-top: 100px;
}

#surname {
    margin: 20px;
    padding-left: 20px;
    margin-left: 30px;
}
#email {
    margin: 20px;
    padding-left: 20px;
    margin-left: 40px;
}

#password {
    margin: 20px;
    padding-left: 20px;
}
#password2 {
    margin: 20px;
    padding-left: -20px;
}
#submit {
    padding: 5px;
    font-size: 1.2vw;
    border-radius: 10px;
    background-color: #351868;
	color:white;
	border:none;
	margin-top:20px;
}

#image {
    margin-top: -100px;
}

#text {
    color: #351868;
    font-weight: bold;
}

h1 {
    font-size: 4vw;
    color: #351868;
}

#submit:hover {
    background: orange;
	color:black;
    transition: all 0.1s ease;
}
#reg{
	margin:5px;
	font-size:1.2rem;
}
#reg:hover{
	text-decoration:underline;
}